<!--<div class="features">
  <div class="features__item">
    
  </div>
  <div class="features__item"></div>
  <div class="features__item"></div>
</div>-->
<div class="container features-wrapper">
  <div class="features-list">
    <div class="features-item">
      <span class="features-title">Авторская миксология</span>
      <!--<p class="features-description">Ваш сайт будет оптимизирован для смартфонов, планшетов, мониторов и широкоформатных мониторов</p>-->
    </div>
    <div class="features-item">
      <span class="features-title">Полностью натуральный</span>
      <!--<p class="features-description">Ваш сайт выглядит одинаково во всех доступных браузерах</p>-->
    </div>
    <div class="features-item">
      <span class="features-title">Табак Burley и Verginia 50/50</span>
      <!--<p class="features-description">Оплата через безопасную сделку на самой популярной бирже фриланса - FL.ru</p>-->
    </div>
  </div>
</div>